#!/bin/sh

FLASKDIR={{ project_path }}

export PERSISTENT_DIR={{ persistent_dir }}
export BROKER_URL={{ broker_url }}

# Activate the virtual environment.
cd $FLASKDIR
. {{ virtualenv_path }}/bin/activate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A app.celery worker --loglevel=info -E -O fair --concurrency={{ celery_num_workers }} --prefetch-multiplier=1
